<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2">
    <test name="TestNG Test Group" allow-return-values="true">
        <classes> 
        <class name="com.TestA"/>
		<class name="com.TestB"/>
        </classes>
    </test>
</suite>